doctype html
head
  meta(charset='UTF-8')
  meta(content='IE=edge' http-equiv='X-UA-Compatible')
  meta(content='width=device-width,initial-scale=1' name='viewport')
  meta(content='Page description' name='description')
  meta(name='google' content='notranslate')
  meta(name='msapplication-tap-highlight' content='no')
  link(rel="icon" type="image/x-icon" href="../img/logo-no-text.png")
  link(href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet')
  title Homepage
body 
  include ./layout/sidebar.layout.pug
  section#content
    include ./layout/header.layout.pug
    main#artwork
      .card-holder
        .card
          a.product-block(href='/')
            .card-img.img
              img(src='../img/artwork-demo.jpg' alt='')
            .product-info
              .premium-tag
                img(src="../img/cta.png" alt="")
              button.favor-btn(data-id='${artwork.artworkId}')
                i.bx.bx-archive-in Favor
              p.product-bottom artwork
          .creator-block
            a.creator-link(href='#') hvannn
            .reaction
              i.bx.bxs-heart
              p.reaction-count 100
        .card
          a.product-block(href='/')
            .card-img.img
              img(src='../img/artwork-demo.jpg' alt='')
            .product-info
              .premium-tag
                img(src="../img/cta.png" alt="")
              button.favor-btn(data-id='${artwork.artworkId}')
                i.bx.bx-archive-in Favor
              p.product-bottom artwork
          .creator-block
            a.creator-link(href='#') hvannn
            .reaction
              i.bx.bxs-heart
              p.reaction-count 100
        .card
          a.product-block(href='/')
            .card-img.img
              img(src='../img/artwork-demo.jpg' alt='')
            .product-info
              .premium-tag
                img(src="../img/cta.png" alt="")
              button.favor-btn(data-id='${artwork.artworkId}')
                i.bx.bx-archive-in Favor
              p.product-bottom artwork
          .creator-block
            a.creator-link(href='#') hvannn
            .reaction
              i.bx.bxs-heart
              p.reaction-count 100
        .card
          a.product-block(href='/')
            .card-img.img
              img(src='../img/artwork-demo.jpg' alt='')
            .product-info
              .premium-tag
                img(src="../img/cta.png" alt="")
              button.favor-btn(data-id='${artwork.artworkId}')
                i.bx.bx-archive-in Favor
              p.product-bottom artwork
          .creator-block
            a.creator-link(href='#') hvannn
            .reaction
              i.bx.bxs-heart
              p.reaction-count 100
        .card
          a.product-block(href='/')
            .card-img.img
              img(src='../img/artwork-demo.jpg' alt='')
            .product-info
              .premium-tag
                img(src="../img/cta.png" alt="")
              button.favor-btn(data-id='${artwork.artworkId}')
                i.bx.bx-archive-in Favor
              p.product-bottom artwork
          .creator-block
            a.creator-link(href='#') hvannn
            .reaction
              i.bx.bxs-heart
              p.reaction-count 100
        .card
          a.product-block(href='/')
            .card-img.img
              img(src='../img/artwork-demo.jpg' alt='')
            .product-info
              .premium-tag
                img(src="../img/cta.png" alt="")
              button.favor-btn(data-id='${artwork.artworkId}')
                i.bx.bx-archive-in Favor
              p.product-bottom artwork
          .creator-block
            a.creator-link(href='#') hvannn
            .reaction
              i.bx.bxs-heart
              p.reaction-count 100
        .card
          a.product-block(href='/')
            .card-img.img
              img(src='../img/artwork-demo.jpg' alt='')
            .product-info
              .premium-tag
                img(src="../img/cta.png" alt="")
              button.favor-btn(data-id='${artwork.artworkId}')
                i.bx.bx-archive-in Favor
              p.product-bottom artwork
          .creator-block
            a.creator-link(href='#') hvannn
            .reaction
              i.bx.bxs-heart
              p.reaction-count 100
        .card
          a.product-block(href='/')
            .card-img.img
              img(src='../img/artwork-demo.jpg' alt='')
            .product-info
              .premium-tag
                img(src="../img/cta.png" alt="")
              button.favor-btn(data-id='${artwork.artworkId}')
                i.bx.bx-archive-in Favor
              p.product-bottom artwork
          .creator-block
            a.creator-link(href='#') hvannn
            .reaction
              i.bx.bxs-heart
              p.reaction-count 100
    include ./layout/footer.layout.pug

  script(type="module" src="../js/http.js") 
  script(src="../js/style-sidebar.js") 
  script(src="../bundle.js") 